// $cardColor: #eee8f2;

body {
  font-family: 'Cardo', serif;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  margin: 0 0 15px 0;
  color: #281921;
  font-size: 7em;
}

h2 {
  margin: 10px;
  font-size: 3em;
}

h3 {
  font-size: 2em;
} 

@media screen and (max-width: 800px) {
  body {
    font-size: 12px;
  }
}