body {
  font-family: 'Cardo', serif;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  margin: 0 0 15px 0;
  color: #281921;
  font-size: 7em;
  // font-weight: 400;
}

h2 {
  margin: 10px;
  font-size: 3em;
  // font-weight: 700;
}

h3 {
  font-size: 2em;
  // font-weight: 700;
} 