.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d4ccdd;
  color: #1d1e2c;
}

#main-search {
  height: 1em;
  width: 35%;
  border-style: none;
  font-size: 2em;
  padding: 10px;
  background-image: url(../images/magnifier.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  text-indent: 43px;
  background-position: 6px;
}

.main-wrapper {
  width: 85%;
}

.city {
  font-size: 3em;
}

.seven-label {
  margin: 0 0 10px 0;
  font-weight: 700;
}

.seven-hr {
  white-space: nowrap;
  overflow-x: scroll;
  width: 100%;
}