.Main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #d4ccdd;
  color: #1d1e2c;
}

#main-search {
  border: solid 2px #9378af;
  border-radius: 19px;
  border-style: none;
  padding: 10px;
  background-image: url(../images/magnifier.svg);
  background-position: 6px;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 2em;
  text-indent: 43px;
  height: 1em;
  width: 35%;
    &::placeholder {
      font-family: 'Source Sans Pro', sans-serif;
      color: #695b77;
    }
}

.main-wrapper {
  width: 85%;
}

.city {
  font-size: 3em;
}

.seven-label {
  margin: 0 0 10px 0;
  font-weight: 700;
}

.seven-hr {
  margin: 0 0 150px 0;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
    &::-webkit-scrollbar {
      border-radius: 5px;
      height: 8px;
      // background-color: #aaa;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: #443257; 
    }
}

.ten-day-header {
  display: inline-flex;
  justify-content: space-between;
  width: 90%;
}