.searchCity {
  border-radius: 5px 0 0 5px;
  border-style: none;
  background-image: url('../images/magnifier.svg');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 6px;
  text-indent: 50px;
  font-size: 1.7em;
  height: 100%;
  outline: none;
  width: 500px;
}

.input-wrap {
  height: 40px;
  margin: 0 0 50px 0;
}

.app-label {
  margin: 0 0 46px 0;
  color: #281921;
}

button {
  border-radius: 0 5px 5px 0;
  background-color: #685760;
  color: #fff;
  font-size: 1.7em;
  height: 107%;
  outline: none;
  width: 100px;
  &:hover {
    background-color: #3f2834;
  }
}

.suggest-wrapper {
  height: 120px;
  width: 83.5%;
  overflow: scroll;
}

@media screen and (max-width: 800px) {
  .searchCity {
    width: 330px;
  }

  .suggest-wrapper {
    width: 77.5%;
  }
}

@media screen and (max-width: 580px) {
  button {
    width: 60px; 
  }

  .searchCity {
    width: 175px;
  }

  .suggest-wrapper {
    width: 75.5%;
  }

  .app-label {
    text-align: center;
    font-size: 1.5em;
  }
  
}