.StartPage {
  display: flex;
  //toggle to none
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  &:before {
    content: "";
    position: absolute;
    width: 100%; 
    height: 100%;  
    opacity: .6; 
    z-index: -1;
    background: url('../images/tarot1.jpg');
    background-size: cover;
    background-position: 0% 40%;
  }
}