.Suggestion {
  background-color: #eee8f2;
  margin: 0;
  border-bottom: 1px #fff solid;
  opacity: 0.8;
  padding: 3px 0;
  text-indent: 50px;
  font-size: 1.2em;
}

.Suggestion:hover {
  background-color: #685760;
  color: white;
}