// .Weather {
//   display: flex;
//   width: 100%;
//   justify-content: space-around;
//   margin: 0 0 40px 0;
// }
.Weather{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 0 0 150px 0;
  padding: 65px 5px 5px 25px;
  background-color: #EEE8F2;
  border-radius: 135px;
  height: 310px;
}

.Weather p {
  margin: 0;
}

.weather-now {
  margin: 0 0 16px 0;
}

.description {
  width: 22%;
}

.current-weather-icon {
  width: 100%;
}

.extremes {
  width: 20%;
}

.current-extremes {
  display: inline-block;
  padding: 0 15px 0 0;
}